@model ApartmentRentalSystem.Domain.Entities.ApartmentPricing

@{
    ViewData["Title"] = "Видалення ціни";
}

<h1>Видалити</h1>

<h3>Ви впевнені, що хочете видалити цей запис?</h3>
<div>
    <h4>Ціна апартаментів</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceType.Name)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>